@import '../../../styles/variables';
@import '../../../styles/mixins';
@import '../../../styles/normalize.css';


.screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;

  background-color: white;
  width: 500px;
  height: 550px;

  margin: 0 auto;
  margin-top: 100px;
  padding: 30px;

  @include vp-767 {
    width: calc(100% - 28px);
    margin-top: 14px;
    padding: 14px;
  }
}

.title-select {

  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

.back-btn {
  position: absolute;
  left: 30px;
  top: 30px;

  background-color: #999;

  font-weight: 700;
  font-size: 30px;
  line-height: 30px;

  &:hover {
    background-color: $color-primary-100;
  }

  &:active {
    background-color: #333;
  }

  @include vp-767 {
    top: 14px;
    left: 14px;
  }
}

.room-list {
  width: 100%;
  height: 100%;
  overflow: auto;
}
