@import '../../../styles/variables';
@import '../../../styles/mixins';
@import '../../../styles/normalize.css';


.screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;

  background-color: white;
  width: 500px;
  height: 550px;

  margin: 0 auto;
  padding: 30px;
}

.title-select {

  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

.back-btn {
  position: absolute;
  left: 30px;
  top: 30px;

  background-color: #999;

  font-weight: 700;
  font-size: 30px;
  line-height: 30px;

  &:hover {
    background-color: $color-primary-100;
  }

  &:active {
    background-color: #333;
  }
}
