@import '../../../styles/variables';
@import '../../../styles/mixins';
@import '../../../styles/normalize.css';


.header {
  background-color: $color-default-violet;
  padding: 0 10px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100px;
  position: relative;

  @include vp-767 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    flex-wrap: wrap;
  }
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 200px;

  @include vp-767 {
    height: 60px;
  }

  &:hover {
    background-color: rgba(rgb(74, 74, 74), 0.7);
  }

  &:active {
    background-color: black;
  }
}

.main-nav {
  height: 100%;

  @include vp-767 {
    display: none;
  }
}

.main-nav__list {
  display: flex;

  height: 100%;
}

.main-nav__item {
  display: block;
  height: 70px;

  margin: 15px 0;

  &:hover {
    background-color: rgba(rgb(74, 74, 74), 0.7);
  }

  &:active {
    background-color: black;
  }
}

.main-nav__link {
  display: block;
  padding: 17px;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: $color-default-yellow;
}


.header__login-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 200px;

  border: 4px solid $color-default-yellow;
  border-radius: 30px;

  &:hover {
    background-color: rgba(rgb(74, 74, 74), 0.7);
  }

  &:active {
    background-color: black;
  }

  @include vp-767 {
    height: 60px;
  }


  span {
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: $color-default-yellow;
  }
}


.userdata-list {
  display: none;
  flex-direction: column;
  justify-content: space-between;

  position: absolute;
  right: 0;

  width: 200px;
  height: 100%;
}

.userdata-item {
  display: block;

  width: 100%;
  height: 30px;
  background-color: white;

  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: black;

  &:hover {
    background-color: #888;
  }

  button {
    display: block;
    width: 100%;
    height: 100%;
  }
}




.header__login-link {

  &:hover {

    .userdata-list {
      display: flex;
    }
  }
}
